<div class="bg-callout-bg dark:bg-callout-bgDark text-default text-center py-3 px-4 shadow-sm">
  <p class="text-base font-heading font-semibold animate-pulse">⚾ Grand Opening: Field of Dreams!</p>
  <a href="#" class="text-sm hover:underline inline-block mt-1">
    Swing by our new state-of-the-art baseball facility. Learn more »
  </a>
</div>